body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(134, 82, 255), rgb(245, 97, 97));
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
